<ion-view view-title="Convert Length">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/kmtom">
        Km to M
      </ion-item>
       <ion-item href="#/app/mtokm">
        M to Km
      </ion-item>
       <ion-item href="#/app/kmtomile">
        Km to Mile
      </ion-item>
       <ion-item href="#/app/miletokm">
        Mile to Km
      </ion-item>
      <ion-item href="#/app/kmtoyard">
        Km to Yard
      </ion-item>
      <ion-item href="#/app/yardtokm">
        Yard to Km
      </ion-item>
      <ion-item href="#/app/kmtofoot">
        Km to Foot
      </ion-item>
      <ion-item href="#/app/foottokm">
        Foot to Km
      </ion-item>
      <ion-item href="#/app/kmtoinch">
        Km to Inch
      </ion-item>
      <ion-item href="#/app/inchtokm">
        Inch to Km
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
