<ion-view view-title="Convert Area">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/sqkmtosqm">
        Square Km to Square M
      </ion-item>
       <ion-item href="#/app/sqmtosqkm">
        Square M to Square Km
      </ion-item>
       <ion-item href="#/app/sqkmtosqmil">
        Square Km to Square Mile
      </ion-item>
       <ion-item href="#/app/sqmiltosqkm">
        Square Mile to Square Km
      </ion-item>
      <ion-item href="#">
        Square Km to Square Yard
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Yard to Square Km
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Km to Square Foot
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Foot to Square Km
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Km to Square Inch
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Inch to Square Km
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Km to Square Hectare
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Hectare to Square Km
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Km to Square Acre
      </ion-item>
      <ion-item href="#/app/sqkmtosqmil">
        Square Acre to Square Km
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
