<ion-view view-title="Convertion App">
  <ion-content>
  	<div class="item item-divider">
  		<p align="center">Example Convertion App</p>
  	</div>

    <div class="item item-body">
    	<p>Convertion App adalah aplikasi sederhana v.0.1 yang berfungsi untuk 
    	   membantu dalam hal konversi satuan dalam aritmatika.
    	</p>
    	<p>
    		Selamat Mencoba...
    	</p>
    	<p>
    		Kritik dan saran silahkan email ke:
    		rahmatteffendii@gmail.com
    	</p>
    </div>
  </ion-content>
</ion-view>
